<h1>Catalog</h1>

<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>price</th>
        <th>actions</th>
    </tr>
    <tr ng-repeat="item in products">
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.price }}</td>
        <td><a href="" ng-click="delItem(item)">Delete</a></td>
    </tr>
</table>