<h1>Todo</h1>

<span>{{remaining()}} of {{todos.length}} remaining</span>
[ <a href="" ng-click="archive()">archive</a> ]
<ul class="unstyled">
    <li ng-repeat="todo in todos">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
    </li>
</ul>
<form ng-submit="addTodo()">
    <input type="text" ng-model="todoText" size="30" placeholder="Add new todo here">
    <input class="btn-primary" type="submit" value="add">
</form>
