<!doctype html>
<html lang="en" ng-app="mainapp">
<head>
    <meta charset="UTF-8">
    <title>Angular Simple Tutorial</title>
</head>
<body>

    <div ng-controller="MainCtrl">
        <ul>
            <li ng-repeat="item in topnav">
                <a href="{{ item.href }}">{{ item.title }}</a>
            </li>
        </ul>

        <div ng-view></div>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>
